<h3> <%= @photo.user.username || @photo.user.email %>'s Photostream!</h3>




<div class="photo_display">
  <form action="/photos/previous" id="button_previous">
    <input type="hidden" name="current_photo_id" value="<%= @photo.id %>">
    <input type="submit" value="Previous">
  </form> 
  <form action="/photos/next" id="button_next">
    <input type="hidden" name="current_photo_id" value="<%= @photo.id %>">
    <input type="submit" value="Next">
  </form> 

  <div id="div<%= @photo.id %>">
    <a href="/photos/<%= @photo.id %>">
      <%= image_tag @photo.image.url(:large) %>
    </a>
  <% unless @ignoreMeta %>
    <%= render partial: './photo_meta', locals: {photo: @photo} %>
  <% end %>
  </div>
</div>



<div class="photo_descriptions">
  <h4>Title</h4>
  <div class="photo_title">
    <%= @photo.title %>
  </div>

  <h4>Tags</h4>
  <%= render :partial => './display_tags', :locals => {tags: @tags} %>
  <h4>Description</h4>
  <div class="photo_description>">
    <%= @photo.description %>
  </div>
  <h4>Collections</h4>
  <div class="photo_collection">
    <% @photo.collections.each do |collection| %>
      <li>
        <a href="<%= collection_path(collection) %>"><%= collection.title %></a>
      </li>
    <% end %>
  </div>
</div>
