<%= form_for @photos, :url => photos_path, :html => { :multipart => true , :id => "photo_form"} do |form| %>
  <%= form.file_field :image %>
  <%= render :partial => './add_tag' %>
  <%= render :partial => './select_collections', :locals => {collections: @collections} %>
  <%= form.submit value="Upload Photo" %>
<% end %>
<%= render :partial => "./add_collection" %>
<a  href="#" id="add_photo">Add Photo</a>