<%= render :partial => './add_photo' %>

<div id="div_upload_form">
<%= form_for :photo, :url => upload_multiple_photos_path, :html => { :method => "put" , :id => "photo_form"} do |form| %>
  <br/>
<div id="div_photo_ids">
</div>

  <input type="text" placeholder="Add a Title">
  <input type="hidden" name="photo[saved]" value="true">
  <%= render :partial => './add_tag' %>
  <%= render :partial => './select_collections', :locals => {collections: @collections} %>
  

<input type="button" value="Submit" onClick="this.form.submit();" id="photo_form_submit" />

<% end %>
<%= render :partial => "./add_collection" %>

</div>
<script>
$(function(){
  photo_ids = [];

  var submitClicked = false;
  $('#photo_form_submit').click(function(event){
    submitClicked = true;
  })

  $(window).bind("unload", function(){
    deletePhotos();
  })

  getPhotoIds = function(){
    console.log('get photo ids')
    _($('#add_photo_div').find('li')).each(function(item){
      photo_ids.push($(item).attr('data-id'))
    })
    photo_ids
  }
  deletePhotos = function(){
    console.log(photo_ids)
    console.log('delete photos')
    $.ajax({
      type: "DELETE",
      url: "/photos/delete_multiple",
      data: {photo_ids: photo_ids}
    })
  }
  $(window).bind("beforeunload", function(){
    if(submitClicked === false){
      getPhotoIds();
      return confirm("Do you really want to leave page before upload?")
    }
  })


})

</script>