<div class="photo_meta">
<a href="/photostreams/<%= photo.user.photostream.id%>">
  <%= photo.user.username || photo.user.email %>
</a>


<% if photo.favorited_users.include?(current_user) %>
<div class="favorite_div">
<%= form_for :favorite, url: favorites_path, :html => {:class => "favorite_form hidden", :id =>"form#{ photo.id}"}, remote: true do |f| %>
  <%= f.hidden_field :photo_id, :value => photo.id %>
  <%= f.submit :value => "Favorite"%>
<% end %>


<%= form_for :favorite, url: "/delete_favorite", :remote => true, :html => {:class => "favorite_form"} do |f| %>
  <%= f.hidden_field :photo_id, :value => photo.id %>
  <%= f.submit :value => "Unfavorite" %>
<% end %>
</div>

<% else %>
<div class="favorite_div">
<%= form_for :favorite, url: favorites_path, :html => {:class => "favorite_form", :id =>"form#{ photo.id}"}, remote: true do |f| %>
  <%= f.hidden_field :photo_id, :value => photo.id %>
  <%= f.submit :value => "Favorite"%>
<% end %>


<%= form_for :favorite, url: "/delete_favorite", :remote => true, :html => {:class => "favorite_form hidden"} do |f| %>
  <%= f.hidden_field :photo_id, :value => photo.id %>
  <%= f.submit :value => "Unfavorite" %>
<% end %>
</div>
<% end %>


