    <label for="<%= collection.id %>"><%= collection.title %></label>
    <input type ="checkbox" 
    value="<%= collection.id %>" 
    id="<%= collection.id %>" 
    name="photo[photo_collections_attributes][<%= collection.id %> ][collection_id]">