<!DOCTYPE html>
<html>
<head>
  <title>Flicker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar do %>
    <%= menu_item "Home", root_path %>

    <%= drop_down "You" do %>
        <%= menu_item "Photostream", photostreams_path %>
        <%= menu_item "Sets", root_path %>
        <%= drop_down_divider %>
        <%= menu_item "Favorite", root_path %>
    <% end %>

    <%= menu_item "About Us", root_path %>
    <%= menu_item "Contact", root_path %>
<% end %>


<!-- Devise notices -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
